<app-section *ngIf="dish$ | async as dish">
  <div class="app-section__toolbar">
    <button app-button
      buttonStyle="danger"
      (click)="onDelete()"
    >
      Delete
    </button>
    <a app-button
      buttonStyle="secondary"
      routerLink="edit"
    >
      Edit
    </a>
  </div>
  <div class="app-section__content">
    <h2 class="name">
      {{ dish.name }}
    </h2>
    <p *ngIf="dish.description"
      class="description"
    >
      {{ dish.description }}
    </p>
    <p class="details">
      {{ dish.type | uppercase }} dish. Included in {{ dish.menus.length }} {{ 'menu' | appPlural : dish.menus.length }}.
    </p>
    <ul *ngIf="dish.ingredients.length">
      <li *ngFor="let ingredient of dish.ingredients; trackBy: trackByFn">
        {{ ingredient }}
      </li>
    </ul>
  </div>
</app-section>
