@import "main";

.app-section__toolbar {
  justify-content: flex-end;

  [app-button] {
    margin-left: map-get($spacing, 8);
  }
}

.name {
  font-size: map-get($font-size, 36);
  margin-bottom: map-get($spacing, 16);
}

.details {
  border-top: map-get($border, thin) solid map-get($neutral, 9);
  margin-top: map-get($spacing, 16);
  padding-top: map-get($spacing, 16);
}
