<app-section *ngIf="dish$ | async as dish">
  <div class="app-section__toolbar">
    <button app-button
      buttonStyle="danger"
      (click)="onDelete()"
    >
      Delete
    </button>
    <a app-button
      buttonStyle="secondary"
      routerLink="edit"
    >
      Edit
    </a>
  </div>
  <div class="app-section__content">
    <h2 class="name">
      {{ dish.name }}
    </h2>
    <p *ngIf="dish.description"
      class="description"
    >
      {{ dish.description }}
    </p>
    <div class="details">
      <p>{{ dish.type | uppercase }} dish</p>
      <p>
        Included {{ dish.usages }} {{ 'time' | appPlural : dish.usages }} in
        {{ dish.menus.length }} different {{ 'menu' | appPlural : dish.menus.length }}
      </p>
    </div>
    <ul class="details tags">
      <li *ngFor="let tag of dish.tags; trackBy: tagTrackByFn"
        class="tag"
      >
        <app-tag
          [id]="tag.id"
          [name]="tag.name"
        ></app-tag>
      </li>
    </ul>
    <ul *ngIf="dish.ingredients.length">
      <li *ngFor="let ingredient of dish.ingredients; trackBy: ingredientTrackByFn">
        {{ ingredient }}
      </li>
    </ul>
  </div>
</app-section>
