@import "main";

$toolbar-height: map-get($spacing, 48);

:host {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}

app-planner-dishes {
  display: block;
  width: 50%;
  height: 100%;
}

app-planner-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: $white;
}

.invalid-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: grid;
  place-items: center;
  padding-bottom: map-get($app, header);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: map-get($spacing, 24);
    }
  }
}
