@import "main";

$toolbar-height: map-get($spacing, 48);

:host {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  overflow: hidden;
}

section {
  display: grid;
  grid-template-rows: map-get($spacing, 48) calc(100% - 48px);

  ul {
    grid-row: 2;
    padding: map-get($spacing, 16);
  }
}

.toolbar {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 map-get($spacing, 16);

  .title {
    margin-right: auto;
    font-weight: map-get($font-weight, bold);
    color: map-get($neutral, 3);
  }

  & > *:not(:first-child) {
    margin-left: map-get($spacing, 8);
  }
}

.meals {
  grid-column: 1;
  overflow: hidden;

  ul {
    overflow: auto;
  }

  li[app-meal-card]:not(:last-child) {
    margin-bottom: map-get($spacing, 8);
  }
}

.menu {
  grid-column: 2;
  background: $white;

  ul {
    display: flex;
    flex-direction: column;
  }

  li[app-day] {
    flex-basis: 100%;
  }
}
