<ng-container *ngIf="menu$ | async as menu">
  <ng-container *ngIf="menu !== 'INVALID'; else invalidMenuTemplate">
    <app-planner-dishes [menu]="menu">
    </app-planner-dishes>
    <app-planner-menu [menu]="menu">
    </app-planner-menu>
  </ng-container>

  <ng-template #invalidMenuTemplate>
    <app-empty-view-placeholder
      headerText="Invalid Menu"
      messageText="Please select a different menu to view the planner."
    >
      <a app-button
        routerLink="/menus"
      >
        Go To Menus
      </a>
    </app-empty-view-placeholder>
  </ng-template>
</ng-container>
