@import "main";

:host {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.meals {
  grid-column: 1;
}

.days {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  li {
    flex-basis: 100%;
  }
}

li {
  padding: map-get($spacing, 16);
}
