<section class="meals">
  <div class="toolbar">
    <h2 class="title">
      Meals
    </h2>
    <a app-button
      [routerLink]="['meal']"
    >
      New
    </a>
  </div>
  <ul>
    <li app-meal-card
      *ngFor="let meal of meals$ | async"
      [id]="meal.id"
      [name]="meal.name"
      [description]="meal.description"
    ></li>
  </ul>
</section>

<section class="menu">
  <div class="toolbar">
    <h2 class="title">
      {{ menuName$ | async }}
    </h2>
    <button app-button
      buttonStyle="secondary"
    >
      Clear All
    </button>
    <button app-button>
      Export
    </button>
  </div>
  <ul>
    <li app-day
      *ngFor="let menuEntry of menuEntries$ | async"
      [day]="menuEntry.day"
      [meal]="menuEntry.meal"
      (clear)="onClearDay(menuEntry)"
    ></li>
  </ul>
</section>
