<app-meals-list>
  <ng-template #mealTemplate
    let-meal
    let-activeMeal="activeMeal"
    let-fallbackText="fallbackText"
    let-orientation="orientation"
  >
    <app-meal-card
      [id]="meal.id"
      [name]="meal.name"
      [description]="meal.description"
      [dishes]="meal.dishes"
      [tags]="meal.tags"
      [active]="meal === activeMeal"
      [fallbackText]="fallbackText"
      [orientation]="orientation"
    ></app-meal-card>
  </ng-template>
</app-meals-list>

<section>
  <router-outlet></router-outlet>
</section>
