@import "main";

:host {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

ul {
  grid-column: 1;
  padding: map-get($spacing, 16);
  overflow: auto;
}

li:not(:last-of-type) {
  margin-bottom: map-get($spacing, 8);
}

section {
  grid-column: 2;
  padding: map-get($spacing, 16);
  background: $white;
}
