@import "main";

:host {
  display: inline-block;
  position: relative;
}

.label {
  display: inline-flex;
  font-size: map-get($font-size, 14);

  &--bold {
    font-weight: map-get($font-weight, bold);
  }
}

// custom checkbox
.element {
  height: 14px;
  width: 14px;
  border: map-get($border, thin) solid map-get($neutral, 7);
  user-select: none;
  border-radius: 2px;

  // custom checkmark
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

// hide the default checkbox input
.input {
  display: none;
  position: absolute;
  left: -100vh;
  opacity: 0;
}

// style the custom checkbox when the default checkbox input is indeterminate/checked
.input:indeterminate ~ .element,
.input:checked ~ .element {
  border-color: map-get($neutral, 5);
}

// style the custom checkbox when the default checkbox input is indeterminate
.input:indeterminate ~ .element::after {
  display: block;
  left: 50%;
  top: 50%;
  width: 8px;
  transform: translate(-50%, -50%);
  border-top: map-get($border, thin) solid map-get($neutral, 5);
}

// style the custom checkmark when the default checkbox input is checked
.input:checked ~ .element::after {
  display: block;
  left: 4px;
  top: 0px;
  width: 8px;
  height: 13px;
  border: solid map-get($neutral, 3);
  border-width: 0 map-get($border, thin) map-get($border, thin) 0;
  transform: rotate(45deg);
}

// the <label> element of the checkbox is used as the container
.checkbox {
  display: inline-flex;

  &--inverted {
    .input:indeterminate ~ .element,
    .input:checked ~ .element {
      background: map-get($neutral, 5);
    }

    .input:indeterminate ~ .element::after,
    .input:checked ~ .element::after {
      border-color: $white;
    }
  }
}
