@import "main";

app-small-caps-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(8);
}

fa-icon {
  cursor: pointer;
}

app-meal {
  margin-bottom: spacing(8);
  padding: spacing(4) spacing(8);
}

