@import "main";

app-small-caps-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacing, 8);
}

app-meal-description {
  padding: map-get($spacing, 4) map-get($spacing, 8);
}

fa-icon {
  cursor: pointer;
}
