@import "main";

app-small-caps-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacing, 8);
}

fa-icon {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  padding: map-get($spacing, 4) map-get($spacing, 8);
  margin-bottom: map-get($spacing, 8);
}

.sides {
  display: flex;
  align-items: center;
}
