<app-inline-name-edit *ngIf="editing$ | async; else detailsTemplate"
  class="form"
  [name]="name"
  (cancel)="finishEdit$.next()"
  (save)="onSave($event)"
></app-inline-name-edit>

<ng-template #detailsTemplate>
  <span>
    {{ name }}
  </span>
  <div class="buttons">
    <button app-button
      class="edit"
      buttonStyle="danger"
      (click)="delete.emit()"
    >
      Delete
    </button>
    <button app-button
      class="edit"
      buttonStyle="secondary"
      (click)="startEdit$.next()"
    >
      Edit
    </button>
  </div>
</ng-template>
