@import "main";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
}

button {
  margin-left: spacing(8);
}

.counter {
  display: flex;
  align-items: center;
  margin-left: spacing(16);
}

fa-icon {
  margin-right: spacing(4);
  font-size: font-size(16);
  color: color($neutral, 6);
}
