@import 'main';

:host {
  display: block;
}

.form {
  margin-left: map-get($spacing, 32);
}

.menus {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: map-get($spacing, 16);
}
