<app-section>
  <div class="app-section__toolbar">
    <button app-button
      buttonStyle="primary"
      [disabled]="adding"
      (click)="toggleAdding()"
    >
      New Menu
    </button>
    <app-inline-name-edit class="form"
      *ngIf="adding"
      (cancel)="toggleAdding()"
      (save)="onSave($event)"
    ></app-inline-name-edit>
  </div>
  <ul class="app-section__content menus">
    <li app-menu
      *ngFor="let menu of menus$ | async"
      [id]="menu.id"
      [name]="menu.name"
      [entries]="menu.entries"
    ></li>
  </ul>
</app-section>
