@import "main";

:host {
  display: flex;
  height: map-get($app, header);
  background: map-get($neutral, 5);
}

.container {
  display: flex;
  align-items: center;
  padding: 0 map-get($spacing, 16);
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: map-get($spacing, 16);
}

.logo {
  position: relative;
  top: map-get($spacing, 12);
  width: map-get($font-size, 72);
  z-index: map-get($z-index, positive);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: map-get($spacing, 128);
  height: 100%;
  font-size: map-get($font-size, 16);
  color: map-get($neutral, 10);

  &:hover {
    background: map-get($neutral, 4);
  }

  &:last-of-type {
    margin-left: auto;
  }

  &--active {
    background: map-get($neutral, 3);
  }
}
