$font-stack: 'Krub', Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

/*
Use these values for font-sizing. A hand-crafted type scale
(source: Refactoring UI, page 105)
*/
$font-size: (
	12: 12px,
	14: 14px,
	16: 16px, // <=== base value
	18: 18px,
	20: 20px,
	24: 24px,
	30: 30px,
	36: 36px,
	48: 48px,
	60: 60px,
	72: 72px,
	96: 96px,
	128: 128px
);

$font-weight: (
	normal: 400,
	bold: 700
);

$line-height: (
  small: 1,
  normal: 1.25,
  large: 1.5
);

@mixin small-caps() {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: map-get($font-weight, bold);
}
