// Third party
@import '~@angular/cdk/overlay-prebuilt.css';

// Local
@import 'typography';
@import 'colors';
@import 'layout';

html {
	box-sizing: border-box;
	font-size: map-get($font-size, 20);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	position: relative;
	background: map-get($neutral, 9);
	color: map-get($neutral, 1);
	font-family: $font-stack;
	font-weight: map-get($font-weight, normal);
	line-height: map-get($line-height, normal);
	overflow: hidden;
}

/*
  TODO: figure out how to not make this override the button's styles
  so that I don't have to use !important on their color declaration
*/
a {
  color: map-get($neutral, 1);
}
