@import "main";

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 100%;
}

.details {
  display: flex;
  align-items: center;

  app-count {
    margin-left: spacing(12);
  }
}

.description {
  font-size: 14px;
  color: color($neutral, 6);
  margin-top: spacing(8);
}

.tags {
  margin-top: spacing(8);
  display: flex;
  flex-wrap: wrap;

  app-tag {
    margin-right: spacing(8);
    margin-bottom: spacing(4);
  }
}
