<div class="container">
  <a class="dish-link"
    routerLink="/dishes/{{ id }}"
  >
    <h3 class="name">
      {{ name }}
    </h3>
  </a>
  <div class="details">
    <a *ngIf="link"
      class="external-link"
      [href]="link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <fa-icon [icon]="faLink">
      </fa-icon>
    </a>
    <app-count
      type="days"
      [count]="usages"
    ></app-count>
    <app-count
      type="menus"
      [count]="menus.length"
    ></app-count>
    <app-count
      type="meals"
      [count]="meals.length"
    ></app-count>
  </div>
</div>

<p *ngIf="description"
  class="description"
>
  {{ description }}
</p>

<ul *ngIf="tags.length"
  class="tags"
>
  <li *ngFor="let tag of tags; trackBy: trackByFn">
    <app-tag
      [id]="tag.id"
      [name]="tag.name"
    ></app-tag>
  </li>
</ul>
