@import 'main';

app-card {
  padding: map-get($spacing, 16);
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacing, 16);
}

li {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: map-get($spacing, 8);
  }
}

app-small-caps-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: map-get($spacing, 16);
  width: map-get($spacing, 64);
}
