<app-card>
  <div class="top">
    <app-inline-name-edit
      *ngIf="renaming$ | async; else toolbar"
      [name]="name"
      (cancel)="finishRename$.next()"
      (save)="onRename($event)"
    ></app-inline-name-edit>
    <ng-template #toolbar>
      <a routerLink="/planner/{{ id }}">
        <h3>
          {{ name }}
        </h3>
      </a>
      <button app-button
        buttonStyle="ternary"
        [icon]="faEllipsisV"
        [appOptionsMenuTrigger]="optionsMenu"
      ></button>
      <app-options-menu #optionsMenu>
        <li app-options-menu-item
          (click)="onPrint()"
        >
          Print
        </li>
        <li app-options-menu-item
          (click)="startRename$.next()"
        >
          Rename
        </li>
        <a app-options-menu-item
          routerLink="/planner/{{ id }}"
        >
          Edit Meals
        </a>
        <li app-options-menu-item
          (click)="onDelete()"
        >
          Delete
        </li>
      </app-options-menu>
    </ng-template>
  </div>
  <ul>
    <li class="entry"
      *ngFor="let entry of entries"
    >
      <app-small-caps-label class="day">
        <h4>
          {{ entry.day | slice : 0 : 3 }}
        </h4>
      </app-small-caps-label>
      <a routerLink="/meals/{{ entry.meal?.id }}">
        <h4 [app-meal-name]="entry.meal?.name"></h4>
      </a>
    </li>
  </ul>
</app-card>
