@import 'main';

app-card {
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacing, 16);
}

.name {
  font-weight: map-get($font-weight, bold);
  color: map-get($neutral, 4);
}

.entry {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: map-get($spacing, 8);
  }
}

.day {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: map-get($spacing, 16);
  width: map-get($spacing, 64);
}

.meal {
  width: 100%;
}
