<app-section *ngIf="vm$ | async as vm">
  <div class="app-section__toolbar">
    <a app-button
      buttonStyle="secondary"
      routerLink=".."
    >
      Cancel
    </a>
    <button app-button
      buttonStyle="primary"
      form="ngForm"
      [disabled]="!form.valid"
    >
      Save
    </button>
  </div>
  <form class="app-section__content"
    id="ngForm"
    #form="ngForm"
    (keydown.enter)="$event.preventDefault()"
    (ngSubmit)="onSave(form)"
  >
    <app-input
      label="name"
    >
      <input
        id="name"
        type="text"
        name="name"
        required
        [ngModel]="vm.name"
        #name="ngModel"
        appAutofocus
      />
    </app-input>
    <app-input
      label="description"
    >
      <input
        id="description"
        type="text"
        name="description"
        [ngModel]="vm.description"
        #description="ngModel"
      />
    </app-input>
    <app-input
      label="dish type"
    >
      <div class="radio-container">
        <label class="radio-button">
          <input type="radio" name="type" value="main" [ngModel]="vm.type" />
          Main
        </label>
        <label class="radio-button">
          <input type="radio" name="type" value="side" [ngModel]="vm.type" />
          Side
        </label>
      </div>
    </app-input>
  </form>
</app-section>
