@import "main";

.app-section__toolbar {
  justify-content: flex-end;

  [app-button] {
    margin-left: spacing(8);
  }
}

app-input {
  margin-bottom: spacing(32);
}

.tags {
  display: flex;
  margin-top: spacing(8);
}

.tag {
  margin-right: spacing(16);
}

.placeholder {
  display: flex;
  align-items: center;
  margin-top: spacing(8);

  p {
    margin-right: spacing(8);
  }
}
