<app-section *ngIf="meal$ | async as meal">
  <div class="app-section__toolbar">
    <button app-button
      buttonStyle="danger"
      (click)="onDelete()"
    >
      Delete
    </button>
    <a app-button
      buttonStyle="secondary"
      routerLink="edit"
    >
      Edit
    </a>
  </div>
  <div class="app-section__content">
    <h2 class="name">
      {{ meal.name }}
    </h2>
    <p class="description">
      {{ meal.description }}
    </p>
    <ul *ngIf="meal.ingredients.length">
      <li *ngFor="let ingredient of meal.ingredients; trackBy: trackByFn">
        {{ ingredient }}
      </li>
    </ul>
  </div>
</app-section>
