@import "main";

@mixin button-style($background, $hover, $box-shadow, $disabled) {
  background: $background;
  color: $white;
  @include box-shadow($box-shadow);

  &:hover {
    background: $hover;
  }

  &:disabled {
    background: $disabled;
    @include box-shadow($hover);
  }
}

.app-button {
  border: none;
  border-radius: map-get($border, radius);
  padding: map-get($spacing, 8) map-get($spacing, 16);
  cursor: pointer;
  outline: none;
  font-size: map-get($font-size, 14);
  font-family: $font-stack;
  font-weight: 700;
  color: $white;
  @include small-caps();

  &--primary {
    @include button-style(map-get($pink, 7), map-get($pink, 6), map-get($pink, 5), map-get($pink, 8));
  }

  &--secondary {
    @include button-style(map-get($neutral, 5), map-get($neutral, 4), map-get($neutral, 1), map-get($neutral, 8));
  }

  &--ternary {
    background: transparent;
    color: map-get($neutral, 4);

    &:hover {
      color: map-get($neutral, 3);
      background: map-get($neutral, 10);
      @include box-shadow(map-get($neutral, 9));
    }
  }

  &--danger {
    @include button-style(map-get($red, 7), map-get($red, 6), map-get($red, 6), map-get($red, 9));
  }

  fa-icon {
    pointer-events: none;
  }
}

