<ng-container *ngIf="vm$ | async as vm">
  <app-dishes-list class="dishes">
    <ng-template #dishTemplate
      let-dish
      let-activeDish="activeDish"
    >
      <app-dish-card
        [id]="dish.id"
        [name]="dish.name"
        [description]="dish.description"
        [link]="dish.link"
        [type]="dish.type"
        [favorited]="dish.favorited"
        [ingredients]="dish.ingredients"
        [tags]="dish.tags"
        [menus]="dish.menus"
        [meals]="dish.meals"
        [usages]="dish.usages"
        [active]="activeDish === dish"
      ></app-dish-card>
    </ng-template>
  </app-dishes-list>

  <app-section *ngIf="vm.meal as meal">
    <div class="app-section__toolbar">
      <a app-button
        buttonStyle="secondary"
        routerLink=".."
      >
        Cancel
      </a>
      <button app-button
        buttonStyle="primary"
      >
        Save
      </button>
    </div>
    <div class="app-section__content">
      <h2 class="name">
        {{ meal.name }}
      </h2>
      <p *ngIf="meal.description"
        class="description"
      >
        {{ meal.description }}
      </p>
      <div class="details">
        <app-meal-summary
          [dishes]="meal.dishes"
          [fallbackText]="vm.fallbackText"
          [orientation]="vm.orientation"
          boundaries="labeled"
        ></app-meal-summary>
      </div>
    </div>
  </app-section>
</ng-container>
