<ng-container *ngIf="meal$ | async as meal">
  <div class="top">
    <a app-button
      buttonStyle="secondary"
      routerLink=".."
    >
      Cancel
    </a>
    <button app-button
      buttonStyle="primary"
      form="ngForm"
      [disabled]="form.disabled"
    >
      Save
    </button>
  </div>
  <form
    id="ngForm"
    #form="ngForm"
    (keydown.enter)="$event.preventDefault()"
    (ngSubmit)="onSave(form)"
  >
    <app-input
      label="name"
    >
      <input
        id="name"
        type="text"
        name="name"
        required
        [(ngModel)]="meal.name"
        #name="ngModel"
        appAutofocus
      />
    </app-input>
    <app-input
      label="description"
    >
      <input
        id="description"
        type="text"
        name="description"
        [(ngModel)]="meal.description"
        #description="ngModel"
      />
    </app-input>
  </form>
</ng-container>
