<app-card>
  <div class="top">
    <app-inline-name-edit
      *ngIf="renaming$ | async; else toolbarTemplate"
      [name]="name"
      (cancel)="finishRename$.next()"
      (save)="onRename($event)"
    ></app-inline-name-edit>
    <ng-template #toolbarTemplate>
      <a routerLink="/planner/{{ id }}">
        <h3 class="name">
          {{ name }}
        </h3>
      </a>
      <button app-button
        buttonStyle="ternary"
        [icon]="menuToggleIcon"
        [appOptionsMenuTrigger]="optionsMenu"
      ></button>
      <app-options-menu #optionsMenu>
        <li app-options-menu-item
          (click)="onPrint()"
        >
          Print
        </li>
        <li app-options-menu-item
          (click)="startRename$.next()"
        >
          Rename
        </li>
        <li app-options-menu-item
          (click)="startChangeStartDay$.next()"
        >
          Change Start Day
        </li>
        <a app-options-menu-item
          routerLink="/planner/{{ id }}"
        >
          Plan Meals
        </a>
        <li app-options-menu-item
          *ngIf="canDelete"
          (click)="onDelete()"
        >
          Delete
        </li>
      </app-options-menu>
    </ng-template>
  </div>
  <form *ngIf="changing$ | async"
    class="start-day-form"
  >
    <app-input class="start-day-form__input">
      <select
        name="menuStartDay"
        [ngModel]="'Monday'"
      >
        <option *ngFor="let day of days; trackBy: dayTrackByFn"
          [ngValue]="day"
        >
          {{ day }}
        </option>
      </select>
    </app-input>
    <div class="start-day-form__buttons">
      <button app-button
        type="button"
        buttonStyle="secondary"
        [icon]="cancelIcon"
        (click)="finishChangeStartDay$.next()"
      ></button>
      <button app-button
        buttonStyle="primary"
        [icon]="saveIcon"
        (click)="finishChangeStartDay$.next()"
      ></button>
    </div>
  </form>
  <ul>
    <li class="entry"
      *ngFor="let entry of entries; trackBy: menuEntryTrackByFn"
    >
      <app-small-caps-label class="day">
        <h4>
          {{ entry.day | slice : 0 : 3 }}
        </h4>
      </app-small-caps-label>

      <app-meal class="meal"
        [dishes]="entry.dishes"
        [fallbackText]="fallbackText"
        [orientation]="orientation"
      ></app-meal>
    </li>
  </ul>
</app-card>
