@import "main";

:host {
  display: flex;
  flex-direction: column;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
}

.mains {

  a {
    font-weight: font-weight(semibold);
    color: color($neutral, 4);
  }
}

.separator {
  margin: spacing(4) 0;
  border: 0;
  border-bottom: 1px solid color($neutral, 9);
}

.fallback {
  color: color($neutral, 6);
  font-style: italic;
}
