@import "main";

:host {
  display: flex;
}

:host(.vertical) {
  flex-direction: column;
}

:host(.horizontal) {
  align-items: center;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
}

.mains {

  a {
    font-weight: map-get($font-weight, semibold);
    color: map-get($neutral, 4);
  }
}

.separator {
  border: 0;

  &--horizontal {
    margin: 0 map-get($spacing, 8);
    border-right: 1px solid map-get($neutral, 9);
    height: 80%;
  }

  &--vertical {
    margin: map-get($spacing, 4) 0;
    border-bottom: 1px solid map-get($neutral, 9);
  }
}

.fallback {
  color: map-get($neutral, 6);
  font-style: italic;
}
