<ng-container *appLet="fallbackName$ | async as fallbackName">
  <ul *ngIf="mains.length"
    class="dishes mains"
  >
    <li *ngFor="let dish of mains; let last = last; trackBy: trackByFn">
      <a routerLink="/dishes/{{ dish.id }}">
        {{ dish.name }}<span *ngIf="!last">,&nbsp;</span>
      </a>
    </li>
  </ul>
  <hr *ngIf="mains.length && sides.length"
    class="separator"
    [class.separator--horizontal]="orientation === 'horizontal'"
    [class.separator--vertical]="orientation === 'vertical'"
  />
  <ul *ngIf="sides.length"
    class="dishes sides"
  >
    <li *ngFor="let dish of sides; let last = last; trackBy: trackByFn">
      <a routerLink="/dishes/{{ dish.id }}">
        {{ dish.name }}<span *ngIf="!last">,&nbsp;</span>
      </a>
    </li>
  </ul>

  <span *ngIf="showFallback"
    class="fallback"
  >
    {{ fallbackName }}
  </span>
</ng-container>
