<ul *ngIf="mains.length"
  class="dishes mains"
  [class.dishes--horizontal]="orientation === 'horizontal'"
  [class.dishes--vertical]="orientation === 'vertical'"
>
  <li *ngFor="let dish of mains; let last = last; trackBy: trackByFn">
    <a routerLink="/dishes/{{ dish.id }}">
      {{ dish.name }}<span *ngIf="orientation === 'horizontal' && !last">,&nbsp;</span>
    </a>
  </li>
</ul>
<hr *ngIf="mains.length && sides.length"
  class="separator"
/>
<ul *ngIf="sides.length"
  class="dishes sides"
  [class.dishes--horizontal]="orientation === 'horizontal'"
  [class.dishes--vertical]="orientation === 'vertical'"
>
  <li *ngFor="let dish of sides; let last = last; trackBy: trackByFn">
    <a routerLink="/dishes/{{ dish.id }}">
      {{ dish.name }}<span *ngIf="orientation === 'horizontal' && !last">,&nbsp;</span>
    </a>
  </li>
</ul>

<span *ngIf="showFallback"
  class="fallback"
>
  {{ fallbackText }}
</span>
