@import "main";

:host {
  margin-right: map-get($spacing, 8);
  padding: map-get($spacing, 8);
  padding-bottom: map-get($spacing, 12);
  background-color: map-get($neutral, 8);
  border-radius: map-get($border, radius);
  box-shadow: map-get($box-shadow, lightest);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: map-get($spacing, 8);
  padding: 0 map-get($spacing, 8);
  color: map-get($neutral, 3);
}

.name {
  font-size: map-get($font-size, 16);
  @include small-caps;
}

.menu-icon {
  cursor: pointer;
}

.list {
  min-height: map-get($spacing, 8);
  padding-bottom: map-get($spacing, 8);
}

.list-item {
  margin-bottom: map-get($spacing, 8);
  padding: map-get($spacing, 16) map-get($spacing, 8);
  background: $white;
  border-radius: map-get($border, radius);
  box-shadow: map-get($box-shadow, lightest);

  &:last-child {
    margin: 0;
  }

  &:hover {
    ::ng-deep .kanban-board-column-item-hover {
      opacity: 1;
    }
  }

  &--moving:hover {
    ::ng-deep .kanban-board-column-item-hover {
      opacity: 0;
    }
  }
}
