@import "main";

:host {
  display: block;
}

.name,
.placeholder {
  margin-bottom: map-get($spacing, 8);
}

.placeholder {
  color: map-get($neutral, 6);
  font-style: italic;
}

.description {
  font-size: 14px;
  color: map-get($neutral, 6);
}
