@import "main";

:host {
  display: grid;
  grid-template-columns:
    [list] 50%
    [details] 50%;
  height: 100%;
}

.dishes {
  grid-column: list;

  li[app-dish]:not(:last-of-type) {
    margin-bottom: spacing(8);
  }
}

.app-section__toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  margin-right: auto;
  font-weight: font-weight(bold);
  color: color($neutral, 4);
}

app-search-input {
  margin-right: spacing(8);
  position: relative;
  top: 2px;
}

section {
  grid-column: details;
  background: $white;
  overflow: hidden;
}
