@import "main";

:host {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.dishes {
  grid-column: 1;

  li[app-dish]:not(:last-of-type) {
    margin-bottom: spacing(8);
  }
}

.app-section__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: font-weight(bold);
  color: color($neutral, 4);
}

section {
  grid-column: 2;
  background: $white;
  overflow: hidden;
}
