@import "main";

:host {
  display: grid;
  grid-template-columns:
    [list] 50%
    [details] 50%;
  height: 100%;
}

.dishes {
  grid-column: list;
}

section {
  grid-column: details;
  background: $white;
  overflow: hidden;
}

.app-section__toolbar {
  flex-direction: column;

  .controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .title {
      margin-right: auto;
      font-weight: font-weight(bold);
      color: color($neutral, 4);
    }

    app-search-input {
      position: relative;
      top: 2px;
    }

    .button:not(:first-child) {
      margin-left: spacing(8);
    }
  }

  .filters {
    margin-top: spacing(16);
  }

  .title {
    margin-right: auto;
    font-weight: font-weight(bold);
    color: color($neutral, 4);
  }

  app-search-input {
    position: relative;
    top: 2px;
  }
}

.app-section__content {
  padding: unset;
}

li[app-dish]:not(:last-of-type) {
  margin-bottom: spacing(8);
  flex-shrink: 0;
}

.placeholder {
  display: grid;
  place-items: center;
  margin-top: spacing(24);
}
