<app-dishes-list>
  <ng-template #dishTemplate
    let-dish
    let-activeDish="activeDish"
  >
    <app-dish-card
      [id]="dish.id"
      [name]="dish.name"
      [description]="dish.description"
      [link]="dish.link"
      [type]="dish.type"
      [favorited]="dish.favorited"
      [ingredients]="dish.ingredients"
      [tags]="dish.tags"
      [menus]="dish.menus"
      [meals]="dish.meals"
      [usages]="dish.usages"
      [active]="activeDish === dish"
    ></app-dish-card>
  </ng-template>
</app-dishes-list>

<section>
  <router-outlet></router-outlet>
</section>
