<app-section *ngIf="vm$ | async as vm">
  <div class="app-section__toolbar">
    <h2 class="title">
      Dishes ({{ vm.total }})
    </h2>
    <app-search-input
      [text]="vm.searchText"
      (textChange)="onSearchTextChange($event)"
    ></app-search-input>
    <a app-button
      routerLink="/dishes/new"
    >
      New Dish
    </a>
  </div>
  <ul class="app-section__content">
    <app-tabset contentVisibility="visible">
      <app-tab name="Mains ({{ vm.mains.length }})">
        <ul *ngIf="vm.mains.length; else noMainsPlaceholder">
          <li app-planner-dish
            *ngFor="let main of vm.mains; trackBy: trackByFn"
            [id]="main.id"
            [type]="main.type"
            [name]="main.name"
            [description]="main.description"
            [link]="main.link"
            [tags]="main.tags"
            [menus]="main.menus"
            [usages]="main.usages"
          ></li>
        </ul>
        <ng-template #noMainsPlaceholder>
          <div class="placeholder">
            No main dishes to display
          </div>
        </ng-template>
      </app-tab>
      <app-tab name="Sides ({{ vm.sides.length }})">
        <ul *ngIf="vm.sides.length; else noSidesPlaceholder">
          <li app-planner-dish
            *ngFor="let side of vm.sides; trackBy: trackByFn"
            [id]="side.id"
            [type]="side.type"
            [name]="side.name"
            [description]="side.description"
            [link]="side.link"
            [tags]="side.tags"
            [menus]="side.menus"
            [usages]="side.usages"
          ></li>
        </ul>
        <ng-template #noSidesPlaceholder>
          <div class="placeholder">
            No side dishes to display
          </div>
        </ng-template>
      </app-tab>
    </app-tabset>
  </ul>
</app-section>
