<app-section *ngIf="vm$ | async as vm">
  <div class="app-section__toolbar">
    <div class="controls">
      <h2 class="title">
        Dishes ({{ vm.total }})
      </h2>
      <app-search-input
        [text]="vm.searchText"
        (textChange)="onSearchTextChange($event)"
      ></app-search-input>
      <app-filters-button class="button"
        [count]="vm.filters.length"
        [open]="vm.filterPanel"
        (clicked)="onFiltersButtonClick()"
      ></app-filters-button>
      <a app-button
        class="button"
        routerLink="/dishes/new"
      >
        New Dish
      </a>
    </div>
    <app-filters *ngIf="vm.filterPanel"
      class="filters"
      [tags]="vm.tags"
      [selected]="vm.filters"
      (selectedChange)="onFiltersChange($event)"
      (selectedClear)="onFiltersChange([])"
    ></app-filters>
  </div>
  <ul class="app-section__content">
    <app-tabset contentVisibility="visible">
      <app-tab *ngFor="let dishesObj of vm.filteredDishes; trackBy: detailsTrackByFn"
        name="{{ dishesObj.type }} ({{ dishesObj.dishes.length }})"
      >
        <ul *ngIf="dishesObj.dishes.length; else noDishesPlaceholder">
          <li app-planner-dish
            *ngFor="let dish of dishesObj.dishes; trackBy: dishesTrackByFn"
            [id]="dish.id"
            [type]="dish.type"
            [name]="dish.name"
            [description]="dish.description"
            [link]="dish.link"
            [tags]="dish.tags"
            [menus]="dish.menus"
            [usages]="dish.usages"
            [menu]="vm.menu"
            (dayChange)="onDayChange(vm.menu, $event)"
          ></li>
        </ul>
        <ng-template #noDishesPlaceholder>
          <div class="placeholder">
            No main dishes to display
          </div>
        </ng-template>
      </app-tab>
    </app-tabset>
  </ul>
</app-section>
