<app-section *appLet="dishes$ | async as dishes">
  <div class="app-section__toolbar">
    <h2 class="title">
      Dishes ({{ dishes.length }})
    </h2>
    <a app-button
      routerLink="/dishes/new"
    >
      New Dish
    </a>
  </div>
  <ul class="app-section__content">
    <li app-planner-dish
      *ngFor="let dish of dishes; trackBy: trackByFn"
      [id]="dish.id"
      [type]="dish.type"
      [name]="dish.name"
      [description]="dish.description"
    ></li>
  </ul>
</app-section>
