@import "main";

.app-section__toolbar {
  align-items: center;
  justify-content: flex-end;

  .title {
    margin-right: auto;
    font-weight: map-get($font-weight, bold);
    color: map-get($neutral, 4);
  }

  [app-button]:not(:first-child) {
    margin-left: spacing(8);
  }
}

.app-section__content {
  li[app-planner-dish]:not(:last-of-type) {
    margin-bottom: spacing(8);
  }
}
