@import "main";

.app-section__toolbar {
  flex-direction: column;

  .controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .title {
      margin-right: auto;
      font-weight: font-weight(bold);
      color: color($neutral, 4);
    }

    app-search-input {
      position: relative;
      top: 2px;
    }

    [app-button]:not(:first-child) {
      margin-left: spacing(8);
    }
  }

  .filter-panel {
    margin-top: spacing(16);

    &__tags {
      display: flex;
    }

    &__tag:not(:last-of-type) {
      margin-right: spacing(16);
    }
  }
}

.app-section__content {
  padding: unset;
}

li[app-planner-dish]:not(:last-of-type) {
  margin-bottom: spacing(8);
}

.placeholder {
  display: grid;
  place-items: center;
  margin-top: spacing(24);
}
