<ng-container *ngIf="tags$ | async as tags">
  <h2 class="title">
    Tags ({{ tags.length }})
  </h2>
  <app-card>
    <div class="container">
      <button app-button
        buttonStyle="primary"
        [disabled]="adding$ | async"
        (click)="startAdd$.next()"
      >
        New Tag
      </button>
      <app-inline-name-edit class="form"
        *ngIf="adding$ | async"
        (cancel)="finishAdd$.next()"
        (save)="onNewTagSave($event)"
      ></app-inline-name-edit>
    </div>
    <ul>
      <li app-tags-form-item
        *ngFor="let tag of tags; trackBy: trackByFn"
        class="tag"
        [id]="tag.id"
        [name]="tag.name"
        (edit)="onTagEdit(tag.id, $event)"
        (delete)="onTagDelete(tag.id)"
      ></li>
    </ul>
  </app-card>
</ng-container>
