@import "main";

.title {
  font-weight: font-weight(bold);
  color: color($neutral, 4);
  padding: spacing(16) 0;
}

.container,
.tag {
  display: flex;
  align-items: center;

  button {
    flex-shrink: 0;
    margin-right: spacing(16);
  }
}

.container {
  margin-bottom: spacing(32);
}

.tag:not(:last-of-type) {
  margin-bottom: spacing(8);
}
