<form #form="ngForm">
  <app-input>
    <input
      type="text"
      name="name"
      required
      [(ngModel)]="name"
      (keydown.enter)="onSave(form)"
      (keydown.escape)="onCancel()"
      appAutofocus
    />
  </app-input>
</form>
<div class="buttons">
  <button app-button
    type="button"
    buttonStyle="secondary"
    [icon]="faTimes"
    (click)="onCancel()"
  ></button>
  <button app-button
    buttonStyle="primary"
    [icon]="faCheck"
    [disabled]="!form.valid"
    (click)="onSave(form)"
  ></button>
</div>
