@import "main";

:host {
  display: grid;
  background: $white;
  grid-template-rows: max-content 1fr;
}

.toolbar {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: map-get($spacing, 16);

  .title {
    margin-right: auto;
    font-weight: map-get($font-weight, bold);
    color: map-get($neutral, 4);
  }

  & > *:not(:first-child) {
    margin-left: map-get($spacing, 8);
  }
}

ul {
  grid-row: 2;
  padding: map-get($spacing, 16);
  display: flex;
  flex-direction: column;
}

li[app-planner-day] {
  flex-basis: 100%;
}
