<app-section>
  <div class="app-section__toolbar">
    <h2 class="title">
      {{ menuName$ | async }}
    </h2>
    <button app-button
      buttonStyle="secondary"
      (click)="onClearAll()"
    >
      Clear All
    </button>
    <button app-button
      (click)="onPrint()"
    >
      Print
    </button>
  </div>
  <ul class="app-section__content">
    <li app-planner-day
      *ngFor="let menuEntry of menuEntries$ | async; trackBy: trackByFn"
      [day]="menuEntry.day"
      [dishes]="menuEntry.dishes"
      (clear)="onClearDay(menuEntry)"
    ></li>
  </ul>
</app-section>
